<link rel="stylesheet" href="/css/bootstrap.min.css">

<nav class="navbar navbar-expand-lg bg-light">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://ingresso.ifpe.edu.br/static/img/ifpe-logo.svg" alt="" width="60" height="50">
        </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" href="/">Início</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Funcionário
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/funcionario/cadastrar">Cadastrar</a></li>
              <li><a class="dropdown-item" href="/funcionario">Cadastradas</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a target="_blank" class="dropdown-item" href="/funcionario/relatorio">Relatório</a></li>
            </ul>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="\" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Fornecedores
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/fornecedor/cadastrar">Cadastrar</a></li>
                <li><a class="dropdown-item" href="/fornecedor">Cadastrados</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a target="_blank" class="dropdown-item" href="/fornecedor/relatorio">Relatório</a></li>
                <li><a target="_blank" class="dropdown-item" href="/fornecedor/login">login</a></li>

              </ul>
            
          </li>
        </ul>
      </div>

    </div>
  </nav>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Venha ser nosso funcionario</h5>
      <p class="card-text">Aqui você encontrar as melhores ofertas.</p>
      <a href="/fornecedor/cadastrar" class="btn btn-primary">Aperte aqui para mudar de vida</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/public/img/compare.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Venha ser nosso fornecedor</h5>
      <p class="card-text">Aqui você é bem tratado.</p>
      <a href="/fornecedor/cadastrar" class="btn btn-primary">Aperte aqui para ser nosso fornecedor</a>
    </div>
  </div>
  